<div style="height: 50px;"> </div>
<div class="spectacledcoder-footer">
    <div class="spectacledcoder-footer-top">

    </div>
    <div class="spectacledcoder-footer-content">
        <div class="spectacledcoder-footer-section">
            <h1 class="spectacledcoder-footer-heading">Post It</h1>
        </div>
        <div class="spectacledcoder-footer-section">
            <ul class="d-footer-ul">
                <li class="d-footer-li-h"><b>Links</b></li>
                <li class="d-footer-li">Home</li>
                <li class="d-footer-li">About</li>
                <li class="d-footer-li">Blog</li>
                <li class="d-footer-li">Design</li>
                <li class="d-footer-li">Documentation</li>
            </ul>
        </div>
        <div class="spectacledcoder-footer-section">
            <ul class="d-footer-ul">
                <li class="d-footer-li-h"><b>Blog</b></li>
                <li class="d-footer-li">UI / UX</li>
                <li class="d-footer-li">CodePens</li>
                <li class="d-footer-li">Codedamn</li>
                <li class="d-footer-li">Figma</li>
                <li class="d-footer-li">Oracle EBS</li>
            </ul>
        </div>
        <div class="spectacledcoder-footer-section">
            <ul class="d-footer-ul">
                <li class="d-footer-li-h"><b>Privacy policy</b></li>
                <li class="d-footer-li-h"><b>Contact Us</b></li>
                
            </ul>
        </div>
        <div class="spectacledcoder-footer-section">
            <div class="logo-head">
                <b>Follow me on</b>
            </div>
            <div class="logo">
               <a  target="_blank"><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/100/instagram-new.png" alt="instagram-new"/></a>
               <a  target="_blank"><img width="30" height="30" src="https://img.icons8.com/ios-filled/100/youtube-squared.png" alt="youtube-squared"/></a>
                <a target="_blank"><img width="25" height="25" src="https://img.icons8.com/offices/100/dribbble.png" alt="dribbble"/></a>
            </div>    
        </div>
    </div>
    <div class="spectacledcoder-footer-bottom">
        <div class="spectacledcoder-footer-bottom-sec">
            <!-- <p>Icons by <a target="_blank">Icons8</a></p> -->
        </div>
        <div class="spectacledcoder-footer-bottom-sec">
            <p>Designed & Created by Sanket P</p>
        </div>
        <div class="spectacledcoder-footer-bottom-sec">
            <p>&copy; 2024 Sanket P</p>
        </div>
        
    </div>
    
</div>